#****************************************************************************
#* Copyright 2023 Duelance Inc. - All Rights Reserved
#* 
#* This file is part of the Duelance project.
#* 
#* Unauthorized copying, transferring or reproduction of this file, via any medium is strictly prohibited.
#* Proprietary and confidential.
#*****************************************************************************

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# sitemap files
public/robots.txt
public/sitemap*.xml
